@import url('https://cdn-ec853.web.app/css/style.css');

.foo {
  background-color: #f5903e;
}

.form-control {
  border: 0;
  border-radius: 0;
}

.form-control:focus {
  border: 0;
}

.btn {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}
